/*修改element-ui默认select样式框*/
.el-select-dropdown__item.selected {color: #ff8a04;font-weight: 700;}
.el-select .el-input.is-focus .el-input__inner {border-color: #dcdfe6;}
.el-select .el-input__inner:focus {border-color: #dcdfe6;}
.el-select {width: 100%;}

/*修改element-ui默认走马灯选中样式*/
.el-carousel__indicator.is-active button {opacity: 1;background:#ff8a04;}

/*修改element-ui默认时间选择样式框*/
.el-date-editor{width: 100%;}
.el-input{width: 100% !important;}
